.root {
    -fx-background-color: grey;
}

.label {
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Light";
}



.button{
    -fx-background-color: derive(#555555, 0%);
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-pref-width: 180;
    -fx-pref-height: 40;
}

.button:hover{
    -fx-background-color: gainsboro;
    -fx-text-fill: derive(#232323, 0%);
}

.menu-bar:hover{
    -fx-background-color: gainsboro;
    -fx-text-fill: derive(#232323, 0%);
}

.menu-button {
    -fx-alignment: center;
    -fx-background-color: derive(#555555, 0%);
    -fx-pref-width: 180;
    -fx-pref-height: 40;
}

.menu-button .label{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 14;
    -fx-font-family: fantasy;
    -fx-text-fill: white;
}

.menu-button .label:hover{
    -fx-text-fill: derive(#232323, 0%);
}

.menu-button:hover {
    -fx-background-color: gainsboro;
}

.context-menu{
    -fx-background-color: derive(#555555, 0%);
    -fx-pref-width: 180;
}

.menu-item{
    -fx-background-color: derive(#555555, 0%);
    -fx-font-size: 14;
    -fx-pref-height: 30;
    -fx-text-fill: white;
}

.menu-item:hover{
    -fx-background-color: saddlebrown;
}

.text-field {
    -fx-alignment: center;
    -fx-background-color: derive(#373737, 20%);
    -fx-background-radius: 25;
    -fx-cursor: default;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 14;
    -fx-focus-traversable: false;
    -fx-highlight-fill: null;
    -fx-highlight-text-fill: null;
    -fx-focus-traversable: false;
}

.text-field:hover {
    -fx-background-color: gainsboro;
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: #373737;
    -fx-border-width: 1;
    -fx-border-color: #303030;
    -fx-border-style: solid;
    -fx-cell-size: 35;
}
.table-row-cell:selected{
    -fx-table-cell-border-color: #2A2A2A;
}


.table-view .table-cell {
    -fx-background-color: #373737;
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-family: "Calibri";
    -fx-text-alignment: justify;
}

.table-view .column-header-background {
    visibility: hidden; -fx-padding: -1em;
}

.table-view .filler{
    -fx-background-color: #373737;
}

.table-view {
    -fx-base: #373737;
    -fx-control-inner-background: #373737;
    -fx-background-color: #373737;
    -fx-pref-height: 250;
    -fx-max-width: 200;
    -fx-table-cell-border-color: #2A2A2A;
    -fx-focus-traversable: false;
}


.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 85%);
}

.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(black, 100%);
}

#help{
    -fx-background-color: gray;
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-font-family: "Calibri";
    -fx-font-size: 16;
    -fx-pref-height: 700;
    -fx-border-radius: 5;
}


#help .content {
    -fx-background-color: #3A3A3A;
}

#help .scroll-bar .thumb{
    -fx-background-color: darkgray;
}

#help .scroll-bar{
    -fx-background-color: gray;
}

#records{
    -fx-background-color: gray;
    -fx-text-fill: #733400;
    -fx-alignment: top-center;
    -fx-font-family: "Verdana";
    -fx-font-size: 16;
    -fx-pref-height: 200;
    -fx-pref-width: 900;
    -fx-border-radius: 5;
}

#records .content {
    -fx-background-color: gray;
}

#records .scroll-bar .thumb{
    -fx-background-color: darkgray;
}

#records .scroll-bar{
    -fx-background-color: gray;
}
#time-remaining{
    -fx-background-color: lightgray;
    -fx-padding: 3, 0, 0, 0;
    -fx-text-fill: red;
    -fx-underline: true;
    -fx-background-radius: 3;
    -fx-min-width: 240;
    -fx-min-height: 40;
    -fx-max-width: 240;
    -fx-max-height: 40;
    -fx-font-family: "Microsoft YaHei";
    -fx-font-size: 16;
}

#target{
    -fx-background-color: #555555;
    -fx-border-color: #373737;
    -fx-border-width: 5;
    -fx-padding: 13, 0, 0, 0;
    -fx-border-radius: 10;
    -fx-pref-height: 95;
    -fx-pref-width: 175;
    -fx-text-fill: whitesmoke;
    -fx-font-family: "Arial Black";
    -fx-text-alignment: center;
    -fx-font-size: 17;
}

#guessing-word{
    -fx-background-color: #232323;
    -fx-padding: 10, 0, 0, 0;
    -fx-min-width: 200;
    -fx-min-height: 40;
    -fx-max-width: 200;
    -fx-max-height: 40;
    -fx-font-family: "Microsoft YaHei";
    -fx-font-size: 16;
}

#level{
    -fx-font-size: 22pt;
    -fx-underline: true;
}


#game-mode{
    -fx-font-size: 28;
    -fx-underline: true;
}

#title {
-fx-font-size: 28pt;
-fx-opacity: 1;
}

#pause-resume{
    -fx-background-color: #ebebeb;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}

#pause-resume:hover{
    -fx-background-color: black;
}

#exit-button {
    -fx-background-color: transparent;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
}

#exit-button:hover {
    -fx-background-color: white;
}

#total-score {
    -fx-background-color: #303030;
    -fx-min-width: 200;
    -fx-min-height: 40;
    -fx-max-width: 200;
    -fx-max-height: 40;
    -fx-font-family: "Arial Black";
    -fx-font-size: 16;

}
#profile-textfield{
    -fx-background-color: derive(#232323, 20%);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #2d2d2d, 4, 0.5, 3, 3);
    -fx-cursor: text;
    -fx-min-width: 300;
    -fx-min-height: 40;
    -fx-max-width: 300;
    -fx-max-height: 40;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 18;
    -fx-focus-traversable: true;
    -fx-highlight-fill: lightgray;
    -fx-highlight-text-fill: black;

}

#profile-textfield:hover {
    -fx-text-fill: white;
}

#profile-label{
    -fx-font-size: 18;
    -fx-font-family: "Microsoft YaHei UI";
}

#profile-title{
    -fx-font-size: 28;
    -fx-underline: true;
}

#profile-hint{
    -fx-text-fill: darkred;
    -fx-font-family: "Verdana";
    -fx-font-size: 13;
}
