.root {
    -fx-background-color: rgba(0, 0, 0, .9);
    -fx-pref-width: 600;
    -fx-pref-height: 250;
    -fx-spacing: 35;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-pref-width: 500;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.button{
    -fx-background-color: #373737;
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: gray;
    -fx-text-fill: black;

}

