.root {
    -fx-background-color: rgba(0, 0, 0, .9);
    -fx-pref-width: 600;
    -fx-pref-height: 250;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-pref-width: 147;
}


.text-field {
    -fx-background-color: transparent;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-min-width: 250;
    -fx-min-height: 30;
    -fx-max-width: 250;
    -fx-max-height: 30;
    -fx-text-fill: whitesmoke;
}

